<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ServerLogic.Sql.Properties.Settings.connectString"
            connectionString="Data Source=OZEROPC;&#xA;Initial Catalog=DevSchool;&#xA;Integrated Security=True" />
    </connectionStrings>
</configuration>