USE [master]
GO
/****** Object:  Database [DevSchool]    Script Date: 18.11.2015 12:58:02 ******/
CREATE DATABASE [DevSchool]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DevSchool', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\DevSchool.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DevSchool_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\DevSchool_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DevSchool].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DevSchool]
GO
/****** Object:  Table [dbo].[Meeting]    Script Date: 18.11.2015 12:58:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Meeting](
	[idMeet] [int] IDENTITY(1,1) NOT NULL,
	[place] [int] NULL,
	[dateMeet] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idMeet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Place]    Script Date: 18.11.2015 12:58:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Place](
	[idPlace] [int] IDENTITY(1,1) NOT NULL,
	[country] [char](10) NOT NULL,
	[city] [char](10) NOT NULL,
	[street] [char](10) NOT NULL,
	[house] [int] NOT NULL,
	[flat] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idPlace] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Subscription]    Script Date: 18.11.2015 12:58:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subscription](
	[idUser] [uniqueidentifier] NOT NULL,
	[idMeet] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 18.11.2015 12:58:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users](
	[idUser] [uniqueidentifier] NOT NULL,
	[firstName] [char](15) NOT NULL,
	[lastName] [char](20) NOT NULL,
	[contactNumber] [char](11) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Meeting]  WITH CHECK ADD FOREIGN KEY([place])
REFERENCES [dbo].[Place] ([idPlace])
GO
ALTER TABLE [dbo].[Subscription]  WITH CHECK ADD FOREIGN KEY([idMeet])
REFERENCES [dbo].[Meeting] ([idMeet])
GO
ALTER TABLE [dbo].[Subscription]  WITH CHECK ADD FOREIGN KEY([idUser])
REFERENCES [dbo].[Users] ([idUser])
GO
USE [master]
GO
